*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
body{
    background-color:#222;
}
.container{
    width:30vw;
    padding:3rem 2rem;
    margin:70px auto;
    background:linear-gradient(135deg,rgb(74, 218, 208),rgb(149, 98, 222));
    border-radius:15px;
}
.search{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.search input{
    height:40px;
    border-radius: 20px;
    width: 20rem;
    padding: 20px;
    font-size:15px;
    border:none;
    outline:none;
}
.search input:focus{
    outline:none;
    border:none;
}
.search button{
    border-radius:50%;
    padding:0.75rem;
    border:none;
    outline:none;
    width:40px;
    height:40px;
}
.search img{
    width:15px;
    height:15px;
}
.weather-info{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
#weather-icon{
    height:150px;
    width:150px;
    margin:30px 0 20px 0;
}
.weather-info h1{
    font-size:56px;
    font-weight:700;
    color:white;
}
.weather-info h2{
    font-size:32px;
    font-weight:100;
    color:white;
}
.details{
    margin-top:5rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:5rem;
}
.humidity2,.wind-speed{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
}
.image{
    width:50px;
    height:50px;
}
p{
    font-size:18px;
    color:white;
}
.weather{
    display:none;
}
.error{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:1rem;
}
.error p{
    font-size:24px;
}
.error{
    display:none;
}